//app
APP_URL= http://localhost:8081
APP_FRONT_URL= https://www.google.com/

//database
DB_URL= jdbc:postgresql://localhost:5432/folioflex
DOCKER_DB_URL= jdbc:postgresql://host.docker.internal:5432/folioflex
DB_USER= dofi
DB_PASSWORD= password

// security
JWT_SECRET_KEY= 9j3hYtrVTWihkQs73f7ikrycNPSjUIFcSkQPgVUjRKGCHYLFI2qCn4xhAFYhTfvm

// mail
MAIL_HOST= sandbox.smtp.mailtrap.io
MAIL_PORT= 2525
MAIL_USERNAME= 76cc5b64379b7e
MAIL_PASSWORD= 5ef7cf5224a202